- form_tag search_url do
  %p
    = '<input autocomplete="on" type="search" autosave="search-parliament-uk-autosave" autofocus results="20" id="q" name="q" size="30" value="' + params[:q] + '"/>'
    = submit_tag 'Search'

