%p
  %strong Title:
  =h @parly_resource.title
%p
  %strong Description:
  =h @parly_resource.description
%p
  %strong Body:
  =h truncate(@parly_resource.body, :length => 400, :omission => " …")
%p
  %strong Accept ranges:
  =h @parly_resource.accept_ranges
%p
  %strong Cache control:
  =h @parly_resource.cache_control
%p
  %strong Content length:
  =h @parly_resource.content_length
%p
  %strong Content type:
  =h @parly_resource.content_type
%p
  %strong Date:
  =h @parly_resource.date
%p
  %strong Etag:
  =h @parly_resource.etag
%p
  %strong Expires:
  =h @parly_resource.expires
%p
  %strong Last modified:
  =h @parly_resource.last_modified
%p
  %strong Pragma:
  =h @parly_resource.pragma
%p
  %strong Server:
  =h @parly_resource.server
%p
  %strong Set cookie:
  =h @parly_resource.set_cookie
%p
  %strong Transfer encoding:
  =h @parly_resource.transfer_encoding
%p
  %strong Url:
  =h @parly_resource.url
%p
  %strong X powered by:
  =h @parly_resource.x_powered_by

= link_to 'Edit', edit_object_url
|
= link_to 'Back', collection_url