<html>
<head>
   <title><%= @title ? "#{@title} (parlysearch)" : "Search (parlysearch)" %></title>
   <%= stylesheet_link_tag "reset-fonts-grids" %>
   <%= stylesheet_link_tag "screen" %>
</head>
<body id="search-parliament-uk">
<div id="custom-doc" class="yui-t7">
   <div id="hd" role="banner"><h1><a href="/">parlysearch</a> / <%= @title %></h1><p>Search the UK Parliament with Lucene</p></div>
   <div id="bd" role="main">
	<div class="yui-g">
	
	<%= yield %>
	
	</div>

		</div>
	   <div id="ft" role="contentinfo"><a href="http://github.com/robertbrook/parlysearch">github.com/robertbrook/parlysearch</a><address>brookr@parliament.uk</address></div>
	</div>

	</body>
	</html>